    #topBox #titleHeader {
        padding-top: 0%;
        padding-left: 0%;
        margin: 0%;
        font-family: 'Kanit', sans-serif;
        font-size: 400%;
    }
    
    #topBox #menu-icon {
        height: 5%;
    }
    
    #topBox {
        white-space: nowrap;
    }
    
    p {
        margin: 0;
        padding-left: 20%;
        padding-right: 20%;
    }
    
    * {
        font-family: 'DM Sans', sans-serif;
    }
    
    body {
        /* Set the height of the div to 
       the entire screen */
        height: 100vh;
        /* linear-gradient syntax */
        background-image: linear-gradient(rgb(152, 199, 240), rgb(30, 37, 70));
        margin-top: 2%;
        margin-left: 2%;
    }
    /*Navigation Menu*/
    /* The side navigation menu */
    
    .sidenav {
        height: 100%;
        /* 100% Full-height */
        width: 0;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        /* Stay at the top */
        left: 0;
        background-color: #111;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidenav */
    }
    /* The navigation menu links */
    
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    /* When you mouse over the navigation links, change their color */
    
    .sidenav a:hover {
        color: #f1f1f1;
    }
    /* Position and style the close button (top right corner) */
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    
    #main {
        transition: margin-left .5s;
        padding: 25px;
        font-size: 50px;
    }
    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    
    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
        .sidenav a {
            font-size: 18px;
        }
    }